{% extends "base.html" %}

<!-- TITLE -->
{% block title %} Document Finder {% endblock %}

<!-- CONTENT -->
{%block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1>Let's find out any similar documents</h1>
    <div class="container text-center" style="margin-bottom: 80px;">
      <form action="{{ url_for('document_finder')}}" method="POST">
        <div class="form-group">
          <textarea
            placeholder="Enter Keyword Here"
            name="text"
            class="form-control"
            id="text"
            rows="3"
          ></textarea>
          <input
            id="inpkeyword"
            type="submit"
            class="btn btn-primary input-keyword"
            value="Find similar documents"
          />
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
