<!-- BASE HTML -->
{% extends "base.html" %}

<!-- Title -->
{% block title %} MLAPPS HOME {% endblock %}

<!-- Jumbotron -->
{% block page_content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">
      Hello, <span>World!</span><br />
      Welcome to <span>MLAPPS</span>
    </h1>
    <p class="lead">
      Try some applications which can check sentiment, spam, find old documents,
      etc
    </p>
    <hr class="my-4" />
  </div>
</div>

<div class="container">
  <h1>hello</h1>
  <div id="sectiona"></div>
</div>
{% endblock %}
