{% extends "base.html" %}

<!-- TITLE -->
{% block title %} Sentiment Checker {% endblock %}

<!-- CONTENT -->
{% block page_content %}
<div class="page-header text-center">
  <h1 id="idxx">Check Sentiment</h1>
</div>

<div class="container text-center" style="margin-bottom: 80px;">
  <form action="{{ url_for('sentiment_checker')}}" method="POST">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Enter Text Here</label>
      <textarea name="text" class="form-control" id="text" rows="3"></textarea>
      <input
        id="inpkeyword"
        type="submit"
        class="btn btn-primary input-keyword"
        value="Check Sentiment."
      />
    </div>
  </form>
</div>

{% endblock %}
